<div class="Content">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Коллекции" %>
  <div class="W_NavigationCreatePost">
    <% if current_user && current_user.admin?%>
      <div class="A_Button"><%= link_to " + Создать коллекцию", new_admin_collection_path %></div>
    <% end %>
  </div>
  <div id="collections" class="C_Collections">
    <% @collections.each do |collection| %>
      <%= render "collections/collection", collection: collection %>
    <% end %>
  </div>
</div>