
<div class="Content">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Коллекции" %>


<h1>Коллекции</h1>
<% if current_user && current_user.admin?%>
  <div class="A_Button"><%= link_to " + Создать коллекцию", new_admin_collection_path %></div>
<% end %>

<div id="collections" class="C_Collections">
  <% @collections.each do |collection| %>
    <%= render collection: @collections, partial: "collections/collection" %>
  <% end %>
</div>
</div>