<p style="color: green"><%= notice %></p>
<% content_for :title, "Коллекции" %>
<div class="S_Collections">
  <div class="W_NavigationCreatePost">
    <% if current_user && current_user.admin?%>
      <%= link_to " + Создать коллекцию", new_admin_collection_path,class:"A_Button" %>
    <% end %>
  </div>
  <div id="collections" class="C_Collections">
    <% @collections.each do |collection| %>
      <%= render "collections/collection", collection: collection %>
    <% end %>
  </div>
</div>