<div class="A_Comment">
  <p><%= comment.body %></p>
   <p><%= link_to "Удалить комментарий", admin_post_comment_path(comment.post, comment), data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Точно хотите этого?" } %></p>
</div>
