
<div class="S_FirstScreenAbout">
    <div class="A_MeatingText" >
        <h1 >Медиасервис про <br>работы локальных <br>художников</h1>
    </div>
        <img src="/assets/about/yellow_thing.png" alt="">
</div>
<%# -----------------------Second screen----------------------- %>
<div class="S_SecondScreenLocal">
    <div class="O_ColonTitle">
        <div class="A_PageName">
            <p>О нас</p>
        </div>
        <div class="A_TitlePage">
            <h1>Выставляем локальное <br>и неизведанное</h1>
        </div>
        <div class="A_NumberPage">
            <p>(02)</p>
        </div>
        <div class="A_TextColumn">
            <p>Публикуем работы локальных художников, помогаем им&nbsp;оформлять и&nbsp;организовывать свои произведения в&nbsp;едином месте (как портфолио!).</p>
        </div>
        <div class="A_TextColumn">
            <p>Мы&nbsp;стремимся собрать в&nbsp;одном месте создателей и&nbsp;людей, которые собирают арти-штуки&nbsp;&mdash; сделать их&nbsp;видимыми друг для друга.</p>
        </div>

    </div>

    <div class="C_ImageColumns">
        <img class="Q_ImageGrid"  src="/assets/about/thing_1.png" alt="">
        <img class="Q_ImageGrid"  src="/assets/about/thing_2.png" alt="">
        <div class="M_TwoImages">
            <img class="Q_Image"  src="/assets/about/thing_3.png" alt="">
            <img class="Q_Image"  src="/assets/about/thing_4.png" alt="">
        </div>
        <img class="Q_ImageGrid"  src="/assets/about/thing_5.png" alt="">
        <img class="Q_ImageGrid"  src="/assets/about/your_thing.png" alt="">
    </div>
</div>
<%# -----------------------Third screen----------------------- %>
<div class="S_ThirdScreenHistory">
    <div class="O_ColonTitle">
        <div class="A_NumberPage">
            <p>(03)</p>
        </div>
        
        <div class="A_TitlePage">
            <h1>У каждой вещицы есть <br> необычная история...</h1>
        </div>
        <div class="A_TextColumn">
            <p>В&nbsp;нашем медиасервисе у&nbsp;каждой вещи существует своя уникальная история, а&nbsp;также не&nbsp;менее уникальный автор.</p>
        </div>
    </div>

    <div class="C_Works">
        <div class="O_Work"> <img src="/assets/about/work_1" alt=""> 
            <div class="M_Description">
                <div class="C_Tags">
                <div class="A_Tag"><p>● Текстиль</p></div>
                <div class="A_Tag"><p>● Сюрреализм</p></div>
                <div class="A_Tag"><p>● Декор</p></div>

                </div>

                <div class="M_TitleAndAuthor">
                <h3>Платочек</h3>
                <p>Саша Никольская</p>
                </div>
            </div>
        </div>

        <div class="O_Work"> <img src="/assets/about/work_2" alt=""> 
            <div class="M_Description">
                <div class="C_Tags">
                <div class="A_Tag"><p>● Керамика</p></div>
                <div class="A_Tag"><p>● Сюрреализм</p></div>
                <div class="A_Tag"><p>● Декор</p></div>

                </div>

                <div class="M_TitleAndAuthor">
                <h3>Малыш</h3>
                <p>Катя Шемякина</p>
                </div>
            </div>
        </div>

         <div class="O_Work"> <img src="/assets/about/work_3" alt=""> 
            <div class="M_Description">
                <div class="C_Tags">
                <div class="A_Tag"><p>● Графика</p></div>
                <div class="A_Tag"><p>● Сюрреализм</p></div>
                <div class="A_Tag"><p>● Нарратив</p></div>

                </div>

                <div class="M_TitleAndAuthor">
                <h3>Зин, которого нет</h3>
                <p>Ксюша Бурдужан</p>
                </div>
            </div>
        </div>

         <div class="O_Work"> <img src="/assets/about/work_4" alt=""> 
            <div class="M_Description">
                <div class="C_Tags">
                <div class="A_Tag"><p>● Керамика</p></div>
                <div class="A_Tag"><p>● Анатомия</p></div>
                <div class="A_Tag"><p>● Посуда</p></div>

                </div>

                <div class="M_TitleAndAuthor">
                <h3>Глазастики</h3>
                <p>Катя Мороз</p>
                </div>
            </div>
        </div>

        <img class="Q_BackgroundThing" src="/assets/about/weird_thing" alt="">
    </div>

    <%# <div class="Q_GridBackGround"> <img src="/assets/about/grid_background" alt=""></div> %>
    
</div>
<%# -----------------------Fourth screen----------------------- %>
<div class="S_FourthScreenFunctions">


    <div class="O_ColonTitle">

        <div class="A_PageName">
            <p>Функционал</p>
        </div>
        
        <div class="A_TitlePage">
            <h1>И эта история должна быть услышана</h1>
        </div>

        <div class="A_NumberPage">
            <p>(03)</p>
        </div>
    </div>
    <div class="S_Options">


        <div class="W_Options">
            <div class="M_Option">
                <div class="A_Bullet">
                    <h1 class="AccentNumber">1</h1>
                </div>
                <div class="A_OptionText"><p>Делитесь созданными <br>и купленными товарами</p></div>
            </div>
            
            <img class="Q_Arrows" src="/assets/about/arrows.png" alt="">

            <div class="M_Option">
                <div class="A_Bullet">
                    <h1 class="AccentNumber">3</h1>
                </div>
                <div class="A_OptionText"><p>Самые крутые вещицы <br> будут крутиться на Главной</p></div>
            </div>
        </div>
        <div class="M_Option">
            <div class="A_Bullet">
                <h1 class="AccentNumber">2</h1>
            </div>
            <div class="A_OptionText"><p>Привязывайте к ним <br>уникальные теги автора</p>
            </div>

            <img src="/assets/about/tags_to_paste.png" alt="">
        </div>        
    </div>
</div>