<div class="Content">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Profiles" %>
  <h1>Все художники</h1>
  <div class="profiles-list">
    <% @profiles.each do |profile| %>
      <%= render 'profiles/profile', profile: profile %>
    <% end%>
  </div>
</div>