<%= form_with(model: [ @post, Comment.new ], html: 
{ class: "O_CommentForm" }) do |form| %>
  <div class="M_FormGroup">
    <%= form.label :body, "Ваш комментарий", class: "form-label" %>
    <%= form.text_field :body, class: "A_TextField" %>
  </div>
  <div style="height: content-fit;" class="form-submit">
    <%= form.submit "Прокомментировать", class: "A_SubmitForm" %>
  </div>
<% end %>

