<div class="M_Display">
  <h1><%= display.name %> (<%= display.year %>)</h1>
  <p>Тип: <%= display.display_type %></p>
  <p>Ссылка: <%= link_to display.link, display.link, target: "_blank" %></p>
</div>