<%= form_with(model: Subscription.new, html: 
{ class: "O_SubscriptionForm" }) do |form| %>
  <p class="form-notice"><%= notice %></p> <!-- Класс для уведомления -->
  
  <div class="form-group">
    
    <%= form.email_field :email, 
    placeholder: "Введите ваш email", class: "A_FormInput" %> <!-- Класс для поля ввода -->
  </div>

  <div class="form-group">
    <%= form.submit "Отправить", class: "A_FormSubmit" %> <!-- Класс для кнопки отправки -->
  </div>
<% end %>
