<% content_for :title, "Posts" %>

<div class="Content">
  <p style="color: green"><%= notice %></p>
  <h1>Посты</h1>
  <div class="A_Button"><%= link_to " + Создать пост", new_post_path %></div>

  <div id="posts"  class="S_Posts">
    <% @posts.each do |post| %>
      <div class="O_Post">
      <%= render post %>
      </div>
    <% end %>
    
  </div>
</div>
<%= render plain: 'OK' %>