<% content_for :title, "Posts" %>

<div class="Content">
  <p style="color: green"><%= notice %></p>
  <h1>Посты</h1>
<%# Admin check %>
  <% if current_user && current_user.admin?%>
    <div class="A_Button"><%= link_to " + Создать пост", new_admin_post_path %></div>
  <% end %>

  <div id="posts"  class="S_Posts">
    <% @posts.each do |post| %>
      <div class="O_Post">
      <%= render 'posts/post', post: post %>
      </div>
    <% end %>
    
  </div>
</div>
<%# <%= render plain: 'OK' %> 