.A_Avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 40rem;
}
.A_CategoryData {
}
.A_StatisticProfile {
  background-color: var(--pink);
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

.A_Category {
  margin-bottom: 8px;
  .A_Tag {
    border: none;
    padding: 0;
    font-size: 13px;
    color: var(--ash-grey);
    text-transform: none;

    &:hover {
      text-decoration: underline;
      background-color: var(--pure-white);
    }
  }
}
.A_Button {
  background-color: var(--almost-black);
  padding: 0.8rem 1rem;
  width: fit-content;
  font-size: 14px;
  display: block;
  height: fit-content;
  margin-bottom: 1rem;
  border-radius: 8px;
  height: fit-content;

  &:hover {
    opacity: 90%;
  }
}
/* TabsProfile */
.A_TabButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;

  &:hover {
    background-color: #e9e9e9;
  }
  &:target {
    font-weight: bold;
    background-color: red;
  }
}
/* PostShow */
