.A_Avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 40rem;
}
.A_CategoryData {
}
.A_StatisticProfile {
  background-color: var(--pink);
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

.A_Tag {
  color: var(--almost-black);
  text-decoration: none;
  border: 0.5px solid var(--almost-black);
  padding: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  width: fit-content;
  display: inline-block;

  &:hover {
    background-color: black;
    color: var(--cream-white);
  }
}
.A_Category {
  margin-bottom: 8px;
  .A_Tag {
    border: none;
    padding: 0;
    font-size: 13px;
    color: var(--ash-grey);
    text-transform: none;

    &:hover {
      text-decoration: underline;
      background-color: var(--pure-white);
    }
  }
}
.A_Button {
  background-color: var(--almost-black);
  padding: 0.8rem 1rem;
  width: fit-content;
  font-size: 14px;
  display: block;
  height: fit-content;
  margin-bottom: 1rem;
  border-radius: 8px;
  height: fit-content;

  &:hover {
    opacity: 90%;
  }
}
/* PostShow */
.A_AuthorProfile {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid var(--almost-black);
  margin-bottom: 1rem;
}
.A_ShowDescription {
  width: 80%;
}
.A_Comment {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: fit-content;

  .A_Mail {
    font-weight: bold;
  }

  .A_CommentBody {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
    color: var(--almost-black);
    background-color: rgb(204, 204, 204);
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
  }
}
