.C_ProfilesArtists {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: var(--width-container);
  margin: 0 auto;
  gap: 1rem;

  .O_Profile {
    grid-column: span 3;
  }
}
.O_Profile:nth-child(3n + 2) {
  transform: translateY(-2rem);
}
.C_AllPosts {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: var(--width-container);
  margin: 0 auto;
  gap: 1rem;

  .A_PostLink {
    grid-column: span 3;
    height: 100%;
    text-decoration: none;
    height: fit-content;
    display: block;
  }
}
.C_Collections {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .O_Collection {
    grid-column: span 3;
    width: 100%;
  }

  p {
    grid-column: span 6;
  }
}
.S_FiltersPosts {
  .C_Categoires {
    margin-bottom: 0.5rem;
    .A_Tag {
      border: none;
      padding: 0;
      font-size: 1.5rem;

      &:hover {
        background-color: inherit;
        color: var(--almost-dark);
        text-decoration: underline;
      }
    }
  }
}
.C_DataPost {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;

  p {
    display: inline-block;
    min-width: 110px;
  }
}
.C_ProfileStats {
  width: 15rem;
}
.C_Displays {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
