.O_Post {
  background: var(--cream-white);
  width: 407px;
  height: fit-content;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--almost-black);

  .Clip {
    overflow: hidden;
    height: 400px;
    width: 100%;
  }
  .W_UserAuthor {
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      height: 70px;
      display: inline-block;
    }

    h3 {
      display: inline-block;
    }
  }

  img {
    height: 25rem;
    width: 101%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Плавная анимация */
  }

  a {
    color: var(--almost-black);
  }

  .M_PostDescription {
    padding: 1rem;
    display: block;
    flex-direction: column;

    .W_UserAuthor {
      display: flex;
      flex-direction: column;
    }
  }

  &:hover img {
    transform: scale(1.1); /* Увеличение при наведении */
  }
}
