.O_Profile {
  padding: 1rem;
  width: 720px;
  margin: 0 auto;
  border: 2px dashed var(--almost-black);
  margin-bottom: 1.5rem;
  display: flex;
  text-decoration: none;
  display: block;
  background: var(--moon-yellow);
  color: var(--almost-black);

  a.M_ProfileBio {
    text-decoration: none;
    width: 100%;
    display: block;
  }
}
