.S_FirstScreenProfile {
  width: var(--width-container);
  /* background: red; */
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.S_FiltersPosts {
  width: var(--width-container);
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.S_Header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--pure-white);
  height: 100px;
  display: flex;

  a.nav_link {
    text-decoration: none;
    color: var(--almost-black);
  }

  .O_HeaderMenu {
    width: var(--width-container);
    position: relative;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .M_LinksInner {
    display: flex;
    gap: 1rem;
  }

  .M_LinksAbout {
    display: flex;
    gap: 1rem;
  }

  .C_Links {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    a {
      font-weight: 400;
      text-decoration: none;
      box-sizing: border-box;
      color: var(--almost-black);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.S_Post {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.S_OtherPosts {
  display: flex;
  flex-direction: column;
  width: var(--width-container);
  margin: 0 auto;
}
.S_Comments {
  width: var(--width-container);
  margin: 0 auto;
  padding-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
}
.S_Works {
  grid-template-columns: repeat(9, 1fr);
  width: var(--width-container);
  margin: 0 auto;

  h2 {
    padding: 2rem 0;
  }

  .C_Collections {
    margin-bottom: 5rem;
  }
}
.S_Displays {
  width: var(--width-container);
  margin: 0 auto;

  h2 {
    padding: 2rem 0;
  }
}
.S_Collections {
  width: var(--width-container);
  margin: 6rem auto;

  .W_NavigationCreatePost {
    .A_Button {
      color: var(--pure-white);
      text-decoration: none;
    }
  }
}
