.W_ProfileImage {
  display: flex;
  gap: 1rem;
  height: 100%;
  margin-bottom: 1rem;
}
.W_ProfileBio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .A_CategoryData {
    display: inline-block;
  }
}
.W_ArtitsFilter {
  display: flex;
  justify-content: space-between;
}
.W_Post {
  display: grid;
  width: var(--width-container);
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
  margin: 0 auto;

  .O_Display {
    grid-column: 8/10;
  }
}
/* PostShow */
.W_TitleTags {
  margin-bottom: 1rem;
}
.W_EditButtonsProfile {
  padding: 3rem 0;
}
.W_TypesOfContent {
  padding: 1rem 0;
  .A_TypeOfContent {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: var(--almost-dark);

    &:hover {
      text-decoration: underline;
    }
  }
}
