.W_ProfileImage {
  display: flex;
  gap: 1rem;
  height: 100%;
  margin-bottom: 1rem;
}
.W_ProfileBio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .A_CategoryData {
    display: inline-block;
  }
}
.W_ArtitsFilter {
  display: flex;
  justify-content: space-between;
}
.W_Post {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}
/* PostShow */
.W_TitleTags {
  margin-bottom: 1rem;
}
.W_EditButtonsProfile {
  padding: 3rem 0;
}
