.S_FirstScreenAbout {
  background-color: var(--almost-black);
  padding-top: 4rem;
  position: relative;
  height: 800px;
  /* overflow-x: hidden; */

  .A_MeatingText {
    color: var(--moon-yellow);
    margin: 0 auto;
    margin-top: 3rem;
    width: fit-content;

    h1 {
      color: var(--moon-yellow);
      font-size: 7rem;
      text-align: center;
    }
  }
  img {
    position: absolute;
    left: 0vw;
    /* height: 50vw; */
    top: -1vw;
    width: 100%;
    /* background-color: coral; */
  }
}

.O_ColonTitle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}
.A_TitlePage {
  h1 {
    font-size: 3rem;
  }
}
.A_TextColumn {
  p {
    text-indent: 2rem;
    line-height: 140%;
  }
}
.A_NumberPage,
.A_PageName {
  p {
    font-weight: 500;
    font-size: 1rem;
  }
}
/* Second Screen */
.S_SecondScreenLocal {
  background-color: var(--almost-black);
  height: 100vh;
  padding: 0 5rem;

  .O_ColonTitle {
    .A_PageName {
      grid-column: 1/2;
      color: var(--cream-white);
      font-size: 20px;
    }

    .A_TitlePage {
      color: var(--cream-white);
      grid-column: 2/4;
    }

    .A_TextColumn {
      color: var(--cream-white);
    }
    .A_NumberPage {
      grid-column: 4/4;

      p {
        text-align: right;
        color: var(--cream-white);
      }
    }

    .A_TextColumn {
      grid-column: 2/3;
      grid-row: 2/2;

      &:nth-child(5) {
        grid-column: 3/3;
        grid-row: 2/2;
      }
    }
  }

  .C_ImageColumns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    .Q_ImageGrid {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 50%;
      margin-left: auto;

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/2;
        width: 50%;
        margin-left: auto;
      }
      &:nth-child(4) {
        grid-column: 4/4;
        grid-row: 1/2;
        width: 50%;
        margin-right: 100%;
      }
      &:nth-child(5) {
        grid-column: 4/4;
        grid-row: 2/2;
        width: 50%;
        margin-right: 100%;
      }
    }
    .M_TwoImages {
      grid-column: 2/4;
      grid-row: 1/3;
      display: flex;
      gap: 1rem;

      .Q_Image {
        width: 68%;
        border-radius: 4px;

        &:nth-child(2) {
          width: 29.5%;
          height: 65%;
          object-fit: cover;
        }
      }
    }
  }
}
/* Third Screen */
.S_ThirdScreenHistory {
  padding: 0 5rem;
  height: 70vw;
  position: relative;

  .O_ColonTitle {
    margin-top: 8rem;
    .A_NumberPage {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .A_TitlePage {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    .A_TextColumn {
      grid-column: 3/4;
      grid-row: 2/2;
    }
  }

  .C_Works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    position: relative;

    .O_Work {
      grid-column: 1/2;
      background-color: cornflowerblue;
      margin-top: 3rem;
      background-color: var(--cream-white);
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      overflow: hidden;
      height: fit-content;
      z-index: 2;

      img {
        width: 100%;
      }

      &:nth-child(2) {
        grid-column: 2/2;
        margin-top: 10rem;
      }
      &:nth-child(3) {
        grid-column: 3/3;
        margin-top: 3rem;
      }
      &:nth-child(4) {
        grid-column: 4/4;
        margin-top: 0;
      }

      .M_Description {
        padding: 1rem;
        .C_Tags {
          display: flex;

          .A_Tag {
            margin-right: 0.6rem;
            p {
              text-transform: uppercase;
              font-size: 12px;
              text-align: center;
              font-weight: 500;
            }
          }
        }
        .M_TitleAndAuthor {
          margin-top: 1rem;

          h3 {
            font-size: 1.125;
            font-weight: 700;
            margin-bottom: 6px;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }

    .Q_BackgroundThing {
      z-index: 1;
      width: 100%;
      position: absolute;
    }
  }

  .Q_GridBackGround {
    position: absolute;
    top: 18vw;
    left: -5vw;
    width: 100%;

    img {
      object-fit: cover;
      height: 45vw;
    }
  }
}
/* Fourth Screen */
.S_FourthScreenFunctions {
  padding: 0 5rem;
  position: relative;
  height: 100vh;

  .Q_Arrows {
    height: 15rem;
  }
  .O_ColonTitle {
    grid-template-rows: none;
    .A_TitlePage {
      grid-column: 2/4;

      h1 {
        font-size: 4.5rem;
        text-align: center;
      }
    }

    .A_NumberPage {
      grid-column: 4/5;
      margin-left: auto;
    }
  }

  .S_Options {
    position: relative;

    .M_Option {
      display: flex;
      gap: 1rem;
      position: relative;
      margin: 0 auto;
      width: 390px;

      img {
        position: absolute;
        height: 7rem;
        top: -7vw;
        left: 16vw;
      }

      .A_Bullet {
        background-image: url("/assets/about/yellow_bullet.png");
        background-size: cover;
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .AccentNumber {
          color: transparent;
          -webkit-text-stroke: 1px var(--almost-black);
        }
      }

      .A_OptionText {
        background-color: var(--cream-white);
        height: fit-content;
        width: 320px;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        p {
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }
    .W_Options {
      display: flex;
      width: fit-content;
      margin: 0 auto;
      gap: 2rem;
      align-items: flex-end;
      margin-bottom: 6rem;
    }
  }
}
/* Final Screen */
.S_FifthScreenFinal {
  .TopThing {
    width: 100%;
    margin-bottom: -1rem;
  }
  .O_BgQr {
    background-color: var(--almost-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    position: relative;

    .ThingBg {
      position: absolute;
      top: -12vw;
      left: -2vw;
      height: 58vw;

      &:nth-child(3) {
        right: 0vw;
        left: auto;
        top: -15vw;
        height: 61vw;
      }
    }

    .W_QrCode {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      gap: 1rem;

      .M_QrTitle {
        h1 {
          font-size: 4.5rem;
          color: var(--moon-yellow);
          text-align: center;
        }

        h3 {
          text-align: center;
          color: var(--moon-yellow);
        }
      }

      .M_QrImage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
          height: 7rem;
        }

        p {
          text-align: center;
          color: var(--moon-yellow);
        }
      }
    }
  }

  footer.O_AboutCredits {
    background-color: var(--almost-black);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem 7rem;

    .A_Logo {
      h1 {
        font-size: 4.5rem;
        color: var(--cream-white);
      }
    }
    .A_HseDate {
      p {
        color: var(--cream-white);
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;

        img {
          vertical-align: middle;
          width: 20px;
          margin-right: 0.5rem;
        }
      }
    }
    .C_Credits {
      display: flex;
      gap: 2rem;

      .W_Authors,
      .Curators {
        color: var(--cream-white);
        p {
          span {
            font-size: 0.8rem;
            font-style: oblique;
          }
        }
      }
    }
  }
}
