* {
  box-sizing: border-box;
}

body {
  font-family: "Geist";
  background: var(--cream-white);

  h1 {
    font-size: 4rem;
    font-family: "Kommuna";
    line-height: 100%;
    font-weight: normal;
    display: inline-block;
  }

  p {
    line-height: 140%;
    font-family: "Geist";
    font-weight: 400;
  }
}

.Content {
  width: 1285px;
  margin: 0 auto;
  margin-top: 4rem;
}

.S_Posts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  justify-content: flex-start;
  margin-bottom: 10rem;
}

.M_HeadLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  a {
    text-decoration: none;
    color: black;
  }

  .M_Options {
    display: flex;
    gap: 0.5rem;
  }

  .M_ActionButton {
    display: flex;
    gap: 1rem;
    .A_Edit {
      height: 2rem;
      text-align: center;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 14px;
      background-color: var(--ash-grey);
      color: var(--cream-white);
    }
    button {
      color: red;
      font-size: 14px;
      height: 2rem;
      padding: 8px 16px;
      background-color: var(--almost-black);
      color: var(--warm-grey);
      border-radius: 4px;
      border: none;
    }
  }
}

.W_NavigationCreatePost {
  display: flex;
  justify-content: space-between;
}

.M_NavigationLinksPosts {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  a {
    font-size: 3rem;
    font-family: "Kommuna";
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--almost-black);
    border-right: 2px solid var(--almost-black);
    padding-right: 1rem;

    &:nth-child(2) {
      border: none;
    }
  }
}
.active-link {
  text-decoration: underline;
  font-weight: bold;
}

.A_AuthorProfile {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid var(--almost-black);
  margin-bottom: 1rem;
}
.A_ShowDescription {
  width: 80%;
}
.A_Comment {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: fit-content;

  .A_Mail {
    font-weight: bold;
  }

  .A_CommentBody {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
    color: var(--almost-black);
    background-color: rgb(204, 204, 204);
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
  }
}
/* Profile */
.A_ProfileAvatar {
  width: 7rem;
  border: 0.5px solid var(--almost-black);
  border-radius: 200px;
}
