* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--warm-grey);

  h1 {
    font-size: 40px;
    font-family: "Kommuna";
    line-height: 100%;
    font-weight: normal;
  }

  p {
    line-height: 140%;
  }
}

.Content {
  width: 1285px;
  margin: 0 auto;
}

.S_Posts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  justify-content: flex-start;
  margin-bottom: 10rem;
}

.O_Collection {
  background-color: #fdf8f8;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1,
  h3 {
    color: black;
  }

  p > a {
    color: black;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 2px;
    border: 0.5px solid black;
  }

  .M_CollectionDescription {
    width: 70%;
  }
}

.C_Collections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;
}

.A_Button {
  background-color: black;
  padding: 1rem;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 8px;

  a {
    color: white;
    text-decoration: none;
  }
}

.M_HeadLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  a {
    text-decoration: none;
    color: black;
  }

  .M_Options {
    display: flex;
    gap: 0.5rem;
  }
}

.S_Comments {
  padding-left: 2rem;
}

.A_Comment {
  background-color: #f0ecec;
  display: flex;
  min-width: 840px;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;

  a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
