@font-face {
  font-family: "Kommuna";
  src: local("Kommuna-400Narrow.ttf"),
    url("Kommuna-400Narrow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterTight";
  src: local("InterTight"), url("InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "InterTight";
  src: local("InterTight"), url("InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
