:root {
  --almost-black: #1a1e20;
  --moon-yellow: #fff59e;
  --cream-white: #faf3eb;
  --warm-grey: #eae8e1;
  --pure-white: #ffffff;
  --ash-grey: #858585;
  --deep-blue: #0024cc;
  --sun-yellow: #e0b81f;
  --diamine-green: #1b8e13;
  --sand-yellow: #ffeeb0;
  --pink: #ffc3e7;

  /* ContainerSizes */
  --width-container: 1120px;
}
@media (max-width: 1240px) {
  :root {
    --width-container: 928px;
  }
}
@media all and (max-width: 1060px) {
  :root {
    --width-container: 768px;
  }
}
@media all and (max-width: 768px) {
  :root {
    --width-container: 90%;
  }
}
