<header class="S_Header">
  <nav class="C_Links">
      <%= link_to "Главная", root_path %>
      <%= link_to "О медиа", about_path %>
      <%= link_to "Посты", posts_path %>
      <%= link_to "Коллекции", collections_path %>
  </nav>
</header>
